---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Studio Graphicâº">
	<div id="animation" class="flex flex-wrap h-screen md:px-24"></div>
</Layout>

<script>
	import lottie from "lottie-web";

	const element = document.getElementById("animation");

	if (element) {
		lottie.loadAnimation({
			container: element,
			renderer: "svg",
			loop: false,
			autoplay: true,
			path: "/data.json",
		});
	}
</script>
