---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Studio Graphicâº">
	<div id="animation"></div>
</Layout>

<style>
	animation {
		padding: 4cm;
	}
	html,
	body {
		margin: 0;
		height: 100%;
		overflow: hidden;
	}
</style>

<script>
	import lottie from "lottie-web";

	const element = document.getElementById("animation");

	if (element) {
		lottie.loadAnimation({
			container: element,
			renderer: "svg",
			loop: false,
			autoplay: true,
			path: "/data.json",
		});
	}
</script>
