---
import Layout from '../layouts/MainLayout.astro';
---

<Layout title="Studio Graphic &#8314">
	<main>
		<div class="relative flex justify-center font-mono text-4xl"> 
			Welcome to <pre><span class="text-gradient"> Studio Graphic + </span></pre>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 2.5rem;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
