---
import Layout from '../layouts/MainLayout.astro';
---

<Layout title="Studio Graphic&#8314">
	<!-- <main> -->
		<video playsinline autoplay muted>
			<source src="vid/main.mp4" type="video/mp4">
		</video>
	<!-- </main> -->
</Layout>

<style>
	/* main {
		margin: auto;
		padding: 2.5rem;
	} */
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
