---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Studio Graphicâº">
	<div id="animation"></div>
</Layout>

<style>
	animation {
		padding: 4cm;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>

<script>
	import lottie from "lottie-web";

	const element = document.getElementById("animation");

	if (element) {
		lottie.loadAnimation({
			container: element,
			renderer: "svg",
			loop: false,
			autoplay: true,
			path: "/data.json",
		});
	}
</script>
